*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --main-color:linear-gradient(transparent, rgba(29, 23, 3, 0.884));
    --second-color: rgb(128, 124, 125);
    /* --danger: #dc3545; */
    --danger: rgb(254, 25, 17); 
    --text-color:#ffffff;
    --black-color:#000000;
    --text-color-second:rgb(58, 56, 56);
    --title-color:hsl(252,30%,95%);
    --border-color:hsl(120,75%,65%);
    /* --btn-color: #dc3545; */
    --btn-color: rgb(254, 25, 17);
    --border-color: #ffffff7e;
    --shadow-color: #ffffff7e;
    --back-color: rgb(128, 124, 125);
    --back-color-tw: rgb(85, 93, 106);
    
}
/* js controls */
.hiden-p{
    margin-top: 0;
    color: var(--text-color);
    display: none;
}
.hiden-p.active{
    display: block;
}
.hiden-p2.active{
    display: block;
    transition: all ease-in .5s;
    transform-origin: bottom;
}
.hiden-p2{
    display: none;
    transition: all ease-in .5s;
    transform-origin: top;
}


/* js controls */

@font-face {
    font-family: 'sassy';
    src: url(fonts/SassyFrass-Regular.ttf);
}
@font-face {
    font-family: 'Abereto';
    src: url(fonts/Aboreto-Regular.ttf);
}
body{
    box-sizing: border-box;
    border: 1px solid var(--btn-color);
    position: relative;
}

html{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    /* font-size: 65.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #000000;
    /* scroll-padding-top: 9rem; */

}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-thumb{
    background: var(--btn-color);
    border-radius: 5rem;
}
.icon-action:hover > *{
    color: var(--danger);
}
.icon-action{
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 2rem;
    border: 2px solid var(--text-color);
    padding: .5rem;
}
.icon-action > div{
    color: #fff;
    cursor: pointer;
}
.head{
    z-index: 2;
    background: url(images/bac2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: visible;
    width: 100vw;
    /* overflow-x: hidden; */
}
.brand{
    cursor: pointer;
    position: absolute;
    /* border: 4px solid beige; */
    height: 2.5rem;
    width: 2.5rem;
    top: 1.5rem;
    left: 3rem;
    display: none;
}
.brand img{
    position: relative;
    height: 2.5em;
    width: 2.5em;
}
.header{
    z-index: 19999999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2), transparent);
    justify-content: center;
    /* width: 100vw; */
}
.navigation{
    display: flex;
    justify-content: space-around;
    /* align-content: space-around; */
    width:60%;
    margin-left: auto;
    margin-right: auto;
    transition: all ease-in-out .6s;

}

.navigation > a:hover{
    transition: all ease-in .3s;
    background-color: var(--btn-color);
}
.navigation > a:active{
    background-color: var(--btn-color);
}
.navigation > a{
    transition: all ease-in-out .3s;
    /* margin-top: auto; */
    padding: 1.8rem 1%;
    z-index: 10;
    /* height: 100%; */
    position: relative;
    margin-right: 2rem;
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.navigation .home{
    background-color: var(--btn-color);
}
.body{
    display: block;
    padding-top: 5rem;
    height: auto;
    z-index: 100;
    position: relative;
}
.body .title{
    transform: scale(4);
    font-family: 'sassy'!important;
    text-align: center;
    font-size: larger;
    color: var(--danger);
    margin-bottom: 1.2rem;
}
.body .main-card{
    box-sizing: border-box;
    overflow-y: visible;
    z-index: 10;
    /* position: relative; */
    min-height: 100vh;
    border: 2px solid var(--border-color);
    box-shadow: 0px 2px 2px var(--shadow-color);
    width: 50%; 
    max-height: auto;
    margin-left: auto; 
    margin-right: auto;
}
.body .main-card .first-group{
    z-index: 10;
    background: linear-gradient(transparent,rgb(45, 45, 50),rgb(45, 45, 50));
}
.main-card .memo{
    width: 50%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
    color: var(--text-color);
}
.main-card .memo > h2{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}
.main-card .memo > h4{
    text-transform: capitalize;
    text-align: center;
    font-size: .8rem;
    color: var(--text-color);
}
.main-card .memo > p{
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 1rem;
}
.main-card .memo > button{
    padding: .5rem;
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.btn-r{
    padding: .5rem;
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.btn-r:hover{
    letter-spacing: .2rem;
    transition: all ease-in-out .5s;
}
.second-card{
    display: flex;
    align-content: space-between;
}
.second-card .profession{
    text-align: right;
}
.second-card .profession > p{
    margin-top: 1rem;
}
.second-card .profession,
.second-card .team{
    color: var(--second-color);
    padding: 1.3rem 1rem;
    width: 48%;
}
.second-card .profession > h2,
.second-card .team > h2{
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.team{
    position: relative;
}
.team .employee{
    padding: .5rem 1rem;
    transition: all ease-in-out .8s;
    margin-bottom: 2rem;
    cursor: pointer;
    display: flex;
    align-content: space-between;
}
.team .employee:hover{
    color: var(--text-color);
    background: var(--danger);
}
.team .employee:hover .description{
    zoom: 100%;
}
.team .employee:nth-child(2) .img{
    background: url(images/nicT.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.team .employee:nth-child(3) .img{
    background: url(images/frankyT.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.team .employee:nth-child(4) .img{
    background: url(images/dav.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.team .employee .img{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.team .employee .description{
    float: right;
    padding: .5rem;
    width: 70%;
}
.team .employee .description > h2{
    font-size: 1rem;
}
.team .employee .description > h3{
    font-size: .8rem;
}
.team .employee .description > h4{
    font-weight: lighter;
    font-size: .6rem;
}
/*  ====================== details */
.detail{
    /* z-index: 1; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    z-index: 0;
    min-height: 110vh;
    background-color: var(--back-color-tw);
}
.divers .display{
   color: white;
   text-align: center;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   min-height: 4rem;
   width: 80%;
   background: rgba(0,0,0,.2);
   backdrop-filter: blur(5px);
   
}
/* ===================card-selection========================== */
.card-selection{
    z-index: 3;
    height: 50vh;
    /* overflow: hidden; */
    background: url(images/programming.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.card-selection .full-size{
    align-items: center;
    align-content: center;
    background: linear-gradient(rgb(45, 45, 50),rgb(45, 45, 50),transparent,transparent,transparent,transparent);
    padding: 1rem 3rem 3rem 3rem ;
    position: relative;
    backdrop-filter: blur(3px);
    width: auto;
    height: 100%;
}
.card-selection .full-size > h2{
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Abereto';
    color: var(--text-color);
    font-size: 1.2rem;
    text-transform: uppercase;
}
.card-selection .full-size .links{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.links a{
    font-family: 'Abereto';
    color: var(--text-color);
    border-radius: .3rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--back-color);
    padding: .4rem .8rem;
}
.links a:hover{
   background: var(--btn-color);
}
/* Contact Page */
.main-card-c{
    backdrop-filter: blur(5px);
    position: relative;
    min-height: 100vh;
    border: 2px solid var(--border-color);
    box-shadow: 3px 3px 3px var(--shadow-color);
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
    background: linear-gradient(transparent,transparent,rgb(45, 45, 50),rgb(45, 45, 50),rgb(45, 45, 50));
}
.contact-main-card{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
    backdrop-filter: blur(5px);

}
.contact-main-card h2{
    color: var(--text-color);
    text-align: center;
    font-family: 'Abereto';
}
.contact-main-card h3{
    color: var(--text-color);
    text-align: center;
    font-family: 'Abereto';
}
.contact-main-card strong{
    color: var(--btn-color);
}
.contact-main-card .address{
    display: block;
    color: var(--text-color);
    padding:2rem 0;

}
.contact-main-card .devise{
    /* border: 2px solid red; */
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contact-main-card .devise ul{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    
}
.contact-main-card .devise ul > li{
    margin-right: 2rem;    
}
.main-card-c .divers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.main-card-c .divers form{
    display: grid;
    grid-template-columns: repeat(auto-fill(minmax(250px,1fr)));
    gap: 20px;
}
.divers .diver-btn{
    text-align: center;
    text-decoration: none;
}
.divers .diver-btn input{
    font-family: 'Abereto';
    color: var(--text-color);
    border-radius: .3rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--back-color);
    padding: .4rem .8rem;
}

.main-card-c .address{
    font-family: 'Abereto';
}
.main-card-c .address h3 em{
    color: var(--btn-color);
}
/* .main-card-c .divers form{
    width: 100%;
    display: flex;
} */
.main-card-c .divers form .group{
    box-sizing: border-box;
    width: auto;
}

form .group .input-group fieldset{
    /* border: 3px solid rgb(12, 209, 209); */
    box-sizing: border-box;
    list-style: none;
}
.radio-group{
    /* border: 3px solid rgb(189, 18, 132); */
    display: flex;
}
.radio-group label{
    width: 20%;
    /* border: 3px solid rgb(18, 189, 132); */
    display: block;
}
.radio-group input{
    margin-left: 0;
    width: 20%;
    /* border: 3px solid rgb(35, 18, 189); */
    display: block;
}
fieldset{
    padding: .4rem 1rem;
}
fieldset legend{
    color: var(--text-color);
    font-size: 1.3rem;
}
.main-card-c .divers form .group label{
    margin-left: 1rem;
    cursor: pointer;
    color: var(--text-color);
}
/* form .group .input-group fieldset div input{
    border: 3px solid rgba(148, 12, 69, 0.863);
} */
.main-card-c .divers form .input-group input:valid{
    border-color: green;
}
.main-card-c .divers form .input-group input:invalid{
    border: 2px solid var(--danger);
}
.main-card-c .divers form .input-group input:focus,
.main-card-c .divers form .input-group textarea:focus{
    outline: 0;
}
.main-card-c .divers form .input-group input,
.main-card-c .divers form .input-group textarea{
    background-color: var(--text-color);
    border-radius: .5rem;
    color: var(--text-color);
}
.main-card-c .divers form .input-group.error input,
.main-card-c .divers form .input-group.error textarea{
    border-color: red;
}
/* catch errors */
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.4rem;
    font-weight: lighter;
}



.main-card-c .divers form .input-group.success input,
.main-card-c .divers form .input-group.success textarea{
    border-color: green;
}
.main-card-c .divers form .input-group input.error,
.main-card-c .divers form .input-group textarea.error{
    border-color: red;
}
.main-card-c .divers form .input-group input.success,
.main-card-c .divers form .input-group textarea.success{
    border-color: green;
}
::placeholder{
    z-index: 2;
    text-transform: uppercase;
    color: var(--text-color);
}
.main-card-c .divers form .group input,
.main-card-c .divers form .group textarea{
    color: var(--black-color);
    font-size: 1rem;
    font-weight: lighter
}

.main-card-c .divers form .group input,
.main-card-c .divers form .input-group textarea{
    width: 100%;
    padding: .5rem;
}
/* footer */

footer{
    background: var(--black-color);
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
}
footer .share{
    border: 2px solid var(--black-color);
    padding: 1rem 0;
}
footer .share a {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: #fff;
    margin: .4rem;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
} 
footer .share a i{
    align-items: center;
    justify-content: center;
}
footer .share a:hover{
    background: var(--btn-color);
}
footer .f-links{
    width: 50%;
    transition: .3s all ease-in-out;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
footer .f-links a {
    /* font-family: 'Abereto'; */
    align-content: space-around;
    color: var(--text-color);
    border-radius: .3rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    border: 1px solid var(--back-color);
    padding: .4rem .8rem;
}
footer .f-links a:hover{
    background: var(--btn-color);
}
footer .credit span{
    color: var(--btn-color);
}
footer .credit{
    margin-top: 2rem;
    color: var(--text-color);
    font-weight: lighter;
} 








/* service page */
.service-intro{
    position: relative;
    height: 100vh;
    display: flex;
}
.service-intro .serv-card{
    color: var(--text-color);
    padding: 4rem 1rem;
    text-align: center;
    border: 2px solid var(--border-color);
    box-shadow: 0px 2px 2px var(--shadow-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    min-height: 50vh;
    width: 40rem;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 4px var(--border-color);
    /* border: 3px solid rgb(2, 26, 70); */
}
.serv-card h2{
    font-family: 'Sassy';
    transform: scale(4);
    color: var(--btn-color);
}
.serv-card h2 span{
    color: var(--text-color);
}
.serv-card p{
    margin-top: 4rem;
}
.serv-card h2,
.serv-card p{
    justify-content: center;
    align-items: center;
}
.card-container{
    display: block;
    padding: 2rem;
    background: linear-gradient(rgb(45, 45, 50),rgb(45, 45, 50));
    transition: all ease-in-out .5s;
}
.card-container .container{
    display: block;
    padding: 0;
    /* border: 3px solid darkblue; */

}
.container h2{
    font-family: 'Abereto';
    transform: scale(1);
    padding: 1rem 1%;
    text-align: center;
    color: var(--btn-color);
    /* font-family: "sassi"; */
}
.s-card-container{
    display: grid;
    justify-content: space-around;
    gap: 15px ;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card{
    /* border-radius: 2rem; */
    background: var(--black-color);
    /* backdrop-filter: blur(10px); */
    display: block;
}
.s-card-container .card .card-img{
    background: url(images/services/cola.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.s-card-container .card:nth-child(1) .card-img{
    background: url(images/services/datasci\ \(2\).png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.s-card-container .card:nth-child(3) .card-img{
    background: url(images/services/Embed.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.s-card-container .card:nth-child(4) .card-img{
    background: url(images/services/siteweb.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.s-card-container .card:nth-child(6) .card-img{
    background: url(images/services/cubio.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.s-card-container .card .card-desc{
    padding: 1rem 3rem;
    color: var(--text-color);
}
/* All cards */
.card .card-desc p{
    text-align: center;
}



/* Web */

.Web-card-container{
    display: grid;
    justify-content: space-around;
    gap: 10px ;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.Web-card-container .card{
    background: var(--black-color);
    backdrop-filter: blur(10px);
    display: block;
    

}

.Web-card-container .card:nth-child(1) .card-img{
    background: url(images/services/Creative\ Web\ Page\ design.jpg);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Web-card-container .card:nth-child(2) .card-img{
    background: url(images/services/web.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Web-card-container .card:nth-child(3) .card-img{
    background: url(images/services/franky-web-test.herokuapp.com_index.php\(Samsung\ Galaxy\ S8+\)\ \(1\).png);
    background-size: cover;
    height: 16rem;
    width: 100%;
}
.Web-card-container .card .card-desc{
    padding: 1rem 3rem;
    color: var(--text-color);
}

/* Mobile */

.Mob-card-container{
    display: grid;
    justify-content: space-around;
    gap: 10px ;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.Mob-card-container .card{
    background: var(--black-color);
    backdrop-filter: blur(10px);
    display: block;
}
.Mob-card-container .card:nth-child(1) .card-img{
    background: url(images/services/ia.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Mob-card-container .card:nth-child(2) .card-img{
    background: url(images/services/smartgrid.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Mob-card-container .card:nth-child(3) .card-img{
    background: url(images/services/EmbedFactory.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Mob-card-container .card .card-desc{
    padding: 1rem 3rem;
    color: var(--text-color);
}
/* Desk */

.Desk-card-container{
    display: grid;
    justify-content: space-around;
    gap: 10px ;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.Desk-card-container .card{
    background: var(--black-color);
    backdrop-filter: blur(10px);
    display: block;
}
.Desk-card-container .card:nth-child(1)  .card-img{
    background: url(images/services/hologr.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Desk-card-container .card:nth-child(2) .card-img{
    background: url(images/services/desk1.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Desk-card-container .card:nth-child(3) .card-img{
    background: url(images/services/datasci.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 

.Desk-card-container .card .card-desc{
    padding: 1rem 3rem;
    color: var(--text-color);
}

/* Embed */

.Embed-card-container{
    display: grid;
    justify-content: space-around;
    gap: 10px ;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.Embed-card-container .card{
    background: var(--black-color);
    backdrop-filter: blur(10px);
    display: block;
    border-bottom: 2px solid var(--second-color);
}
.Embed-card-container .card:nth-child(1) .card-img{
    background: url(images/services/electronsensors.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Embed-card-container .card:nth-child(2) .card-img{
    background: url(images/services/Embed.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 
.Embed-card-container .card:nth-child(3) .card-img{
    background: url(images/services/Embed1.png);
    background-size: cover;
    height: 16rem;
    width: 100%;
} 

.Embed-card-container .card .card-desc{
    padding: 1rem 3rem;
    color: var(--text-color);
}






/* Portfolio Page */



.menu{
    /* background-color: rgb(54, 63, 68); */
    background: rgba(235, 235, 236, 0.966);
    padding:2rem;
    justify-content: center;
    align-items: center;
    /* background-color: var(--text-color); */
}
.heading{
    text-align: center;
    color: var(--btn-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    text-shadow: 1px 4px 4px #000000;

}
.heading span{
    color: var(--text-color);
    text-transform: uppercase;
    text-shadow: 1px 4px 4px #000000;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 1.5rem;
}
.box-container .box .img{
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    align-items: center;
    border: 2px solid var(--danger);
    background: #000000;
    justify-content: center;
}
.box-container .box:hover .img{
    border: 2px solid var(--text-color);
}
.menu .box-container .box{
    cursor: pointer;
    backdrop-filter: blur(10px);
    padding: 2rem;
    background: transparent;
    text-align: center;
    border: 1px solid var(--black-color);
    height: 25rem;
    transition: .3s all ease-in-out;
}

.menu .box-container .box .btn{
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: var(--verbose);
    transition: all .3s ease-in-out;
}
.menu .box-container .box h3{
    color: black;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .ratingLevel{
    color: var(--verbose);
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .ratingLevel span{
    color: var(--verbose);
    font-size: 1.5rem;
    padding: .5rem 0;
    text-decoration: line-through;
} 
.menu .box-container .box:hover{
    background: var(--black-color);
}
.menu .box-container .box:hover > *{
    color: #fff;
}
.menu .box-container .box:nth-child(1) .img{
    background: url(images/nicT.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.menu .box-container .box:nth-child(2) .img{
    background: url(images/dav.png)no-repeat;
    background-size: cover;
    background-position: center;
}
.menu .box-container .box:nth-child(3) .img{
    background: url(images/frankyT.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.menu .box-container .box:nth-child(4) .img{
    background: violet;
    /* background: url(images/programming.jpg)no-repeat; */
    background-size: cover;
    background-position: center;
}
.menu .box-container .box:nth-child(5) .img{
    /* background: url(images/dav.png)no-repeat; */
    background: palegreen;
    background-size: cover;
    background-position: center;
}
.menu .box-container .box:nth-child(6) .img{
    background: orange;
    /* background: url(images/dav.png)no-repeat; */
    background-size: cover;
    background-position: center;
}

.menu .box-container .box .btn{
    color: #fff;
    text-decoration: none;
    /* margin-top: 1rem; */
    padding: .5rem 2rem;
    border-radius: 5px;
    font-size: 1.4rem;
    background: var(--danger);
    transition: all .3s ease-in-out;
}
.menu .box-container .box h3{
    font-size: 1rem;
    font-family: "Abereto";
    padding: 1rem 0;
}
.menu .box-container .box .ratingLevel{
    font-size: 2rem;
    padding: .5rem 0;
}
.menu .box-container .box .ratingLevel span{
    /* color: var(--verbose); */
    color: var(--danger);
    font-size: 1.5rem;
    padding: .5rem 0;
    text-decoration: line-through;
} 









/*   RESPONSIVE DESIGN */

/* ---------Large Screen---------------- */
@media (max-width:991px) {
    .brand{
        display: block;
    }
    .navigation .home{
        background-color: initial;
    }
    .header{
        width: 100vw;
        /* border: 3px saddlebrown solid; */
    }
    .head{
        overflow-x: hidden;
        height: auto;
    }
    .body{
        position: relative;
    }
    .main-card-c{
        width: 100%; 
    }
    .body .main-card{
        position: relative;
        width: 100%;
        z-index: 10;
    }
    footer .f-links{
        width: 100%;
    }
   
}
@media (min-width:993px) {
    .icon-action{
        display: none;
    }
}

/* Menu------------------------------ */
@media (max-width:992px) {
    .detail{
        height: 50vh;
    }    
    .navigation{
        background: linear-gradient( rgba(0,0,0,.1),rgba(0,0,0,.5));
        padding-top: 3.4rem;
        position: absolute;
        top: 100%; right: -100%;
        display: block;
        backdrop-filter: blur(10px);
        border: 2px solid var(--border-color);
        border-top: none;
        display: block;
        width: 15rem;
        height: 100vh;
        transition: all ease-in-out .3s;
    }
    .navigation a{
        padding: 1rem 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: .2rem;
    }
    .navigation.active{
       right: 0;
       transform-origin: right;
       transition: all ease-in-out ;
    }
   
}
/* ---------Phones---------------- */

@media (max-width:700px) {
    .serv-card h2{
        font-family: 'Sassy';
        transform: scale(2);
        color: var(--btn-color);
    }
    .head{
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .header{
        /* overflow-x: hidden; */
        width: 100vw;
    }
    

    .second-card{
        z-index: 3;
        display: block;
        position: relative;
    }
    .detail{
        z-index: 0;
        min-height: 20vh;
        display: none;
    }
    .second-card .profession,
    .second-card .team{
        padding: 1em 2em;
        width: 100%;
        /* border: 2px solid rgb(160, 35, 87); */
    }
    .second-card .profession > h2,
    .second-card .team > h2{
        text-align: center;
    }
    .main-card .first-group .memo{
        padding: 0 1rem;
        width: 100%;
    }
    .card-selection{
        margin-top: 0;    
    }
    .card-selection .full-size{
        margin-top: 0;
        padding: 0;
    }
    .card-selection .full-size h2{
        margin: 1rem 0;
    }
    .card-selection .full-size .links{
        width: 100%;
        display: flex;
        align-content: space-around;
    }
    .card-selection .full-size .links a{
        /* border: 1px rgb(22, 22, 22) solid; */
        font-family: 'Abereto';
        color: var(--text-color);
        border-radius: .3rem;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid var(--back-color);
        padding: .2rem .4rem;
    }
    footer .share{
        margin-top: 1.2rem;
    }
    footer .f-links a{
        align-content: space-around;
        color: var(--text-color);
        border-radius: .3rem;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        text-transform: uppercase;
        font-family: monospace;
        font-size: .8rem;
        border: 1px solid var(--back-color);
        padding: .2rem .2rem;
    }
   

}